<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tp6ex3">

    <application
        android:allowBackup="true"
        android:icon="@drawable/notebook"
        android:label="@string/app_name"
        android:roundIcon="@drawable/notebook"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.tp6ex3.AuthenticationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true">
        </activity>
        <activity
            android:name="com.example.tp6ex3.SchedulerActivity"
            android:label="My Schedule" />
        <activity
            android:name="com.example.tp6ex3.NewScheduleActivity"
            android:label="New Schedule" />
        <activity
            android:name="com.example.tp6ex3.CreateNoteActivity"
            android:label="Create Note" />
        <activity
            android:name="com.example.tp6ex3.NotesActivity"
            android:label="My Notes" />
        <activity android:name="com.example.tp6ex3.NoteUpdateActivity" />
        <activity android:name="com.example.tp6ex3.ScheduleUpdateActivity"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>